<div>
  <app-header></app-header>

  <div class="body">

    <input placeholder="Git username" [(ngModel)]="username" value="" (keyup.enter)=searchUser()><br>

    <button mat-raised-button color="primary" (click)=searchUser()>Find me! <i class="material-icons">search</i></button>

    <div class="content">
      <mat-card class="example-card" *ngIf='this.data'>
        <h3>User Profile</h3>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title class="username">      {{this.data?.login}}</mat-card-title>
          <mat-card-subtitle>{{this.data?.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-spinner *ngIf='spinner'></mat-spinner>
        <img mat-card-image src={{this.data?.avatar_url}} alt={{this.data?.login}}><br>
        <span style="float: left;">public repos : {{this.data?.public_repos}}</span>
        <span style="float: right;">Github Profile : <a [href]='this.data?.html_url'
            target="_blank">{{this.data?.html_url}}</a></span>
      </mat-card>
    </div>
  </div>
</div>